div:hover {
  /*  :^)  */
  filter:invert(100%);
}
.container {
  margin: 5px 2px 7px 7px;
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 667.733px;
  background: white;
}
.edge {
  display: flex;
  flex: 1;
}
.black {
  margin: 30% 10%;
  flex: 1;
  background: black;
}
.mid {
  margin: auto;
  background: blue;
  width: 70%;
  flex: 8;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.square {
  margin: 20px 10px;
  flex: 0 1 15%;
  height: 60px;
  background: yellow;
}
#red {
  background: red;
}
#green {
  background: green;
}
